body {
    overflow-x: hidden;
}
.bg-black {
    background-color: #252422 !important;
}
.bg-light {
    background-color: #F9F9FF !important;
}
.circle-round {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}